html{
   scroll-behavior: smooth;
   min-height: 100vh;
}
body{
   background-color: #0a0a0a;
   width: 100%;
   min-height: 97vh;
   
   position: absolute;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
   caret-color: transparent;
   padding-bottom: 25px;
}

@font-face{
   font-family: 'GothamBold';
   src:  url("fonts/GothamBold.ttf");
}

@font-face{
   font-family: 'GothamLight';
   src:  url("fonts/GothamLight.ttf");
}

h4, h3, h2, h1, a{
   margin: 0px;
   color: white;
   font-family: "GothamBold";
   text-decoration: none;
}

p{
   font-family: "GothamLight";
   color: white;
   margin-top: 7px;
   margin-bottom: 7px;

}
/* ################# */
/* MENU HAUT DE PAGE */
/* ################# */
.menu {
   display: flex;
   width: 100%;
   height: 60px;
   background-color :rgba(0, 0, 0, 0.9);
   padding: 0px;
   position: fixed;
   z-index: 100;
}

.menu h4, a{
   font-family: "GothamLight";
}

.logoMenu{
   position: relative;
   margin-left: -100px;
   top: 14px;
   height: 30px;
}

.hide {
  opacity: 0;
  transition: 0.5s;
  margin-left: -100px;
}
.show {
   margin-left: 15px;
   opacity: 1;
   transition: 0.5s;
   left: 0;
}

.btn_name{
   background-color: #ffffff00;
   padding: 20px;
   margin-left: 10px;
}

/* ############## */
/* MENU DEROULANT */
/* ############## */

.menu_list{
   display: none;
   background-color: rgba(0, 0, 0, 0.88);
}

.menu_list a {
   padding: 10px;
   display: block;
}

.menu_deroulant:hover .menu_list{
   display: block;
}
/* ###### */
/* FOOTER */
/* ###### */
.footer{
   position: absolute;
   bottom: 0px;
   display: flex;
   justify-content: space-around;
   background-color: #050505;
   width: 100%;
   height: 50px;
   align-items: center;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 2%;
}

.logoFooter{
   height: 30px;
}

/* ####### */
/* CONTENT */
/* ####### */
#new{
   position: relative;
   top: -50px;
}
.content{
   display: block;
   margin: 2%;
   margin-bottom: 50px;
}

.logo {
   text-align: center;
   padding-top: 75px;
}

.logo img{
   position: relative;
   height:  100%;
   width:  50%;
}

/* ########## */
/* CATEGORIES */
/* ########## */
.videoList {
   margin-bottom: 25px;
   background-color: #0a0a0a;
}

.videoList  a {
   display: flex;
}
/* ##### */
/* CARDS */
/* ##### */
.cards{
   display: flex;
   justify-content: space-between;
   transition: 1s;

}

.card {
   position: relative;
   overflow: hidden;
   background-color: #292929;
   height: 222px;
   margin: 5px;
   margin-bottom: 30px;
   width: 340px;
   float:  left;
   border-radius: 7px;
   transition: 750ms;
}

.hideCard{
   height: 0px;
   margin-bottom: 0px;
}

/* #### */
/* CARD */
/* #### */

.card p{
   overflow: hidden;
}

.card h2{
   margin-bottom: 4px;
}

.cardTitle {
   font-size: 18px;
   margin: 7px;
   margin-left: 12px;
   position: relative;
}

.cardImg {
   height: 180px;
   width: 340px;
   opacity: 1;
   position: relative;
   transition: 0.8s;
   transition-delay: 0.1s;

   /*Permet de garder l'image centrée*/
   left: 50%;
   transform:translateX(-50%);
}

.description{
   position: absolute;
   padding: 3.5%;
   height: 94%;
   width: 94%;
   opacity: 0;
   transition: 0.2s;
   transition-delay: 250ms;
   text-align:justify;

   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;            /*Permet de rajouter '...' quand le texte est trop long*/
   -webkit-line-clamp: 7;
   -webkit-box-orient: vertical;
}

.underline{
   color:  rgba(255, 255, 255, 0.2);
   position: absolute;
   top: 8%;
   left: 0px;
}

.shadow{
   color: rgba(255, 255, 255, 0.772);
   text-align: left;
}

.card:hover .cardImg{
   padding-top:  225px;
   transition-delay: 0.5s;
}

/* Titre */

.listName{
   margin: 5px;
   display: flex;
   justify-content: space-between;
   position: relative;
}
/* #################### */
/* FLECHES + ANIMATIONS */
/* #################### */
.voirPlus {
   display: block ruby;

}

.voirPlus p {
   transition: 0.5s;
   transition-delay: 0s;
   position: relative;
   left: -20px;
   margin-top: 2px;
   margin-left: 10px;
   opacity: 0;
}

.voirPlus i{
   transition-delay: 50ms;
}

.cacher {
   margin-right: 15px;
   cursor:pointer;
   user-select: none;
}

.cacher > p{
   transition: 0.5s;
   position: relative;
   left: 0px;
   margin-top: 2px;

}
.fleche{
   border: solid white;
   border-width: 0 3px 3px 0;
   display: inline-block;
   position: relative;
   padding: 3px;
   transform: rotate(-45deg);
   left: -100px;
   opacity: 0;
   transition: 0.5s;
}

.flecheBas{
   bottom: 2px;
   border: solid white;
   border-width: 0 3px 3px 0;
   display: inline-block;
   position: relative;
   padding: 3px;
   transform: rotate(45deg);
}

.flecheHaut{
   top: 3px;
   bottom: 2px;
   border: solid white;
   border-width: 0 3px 3px 0;
   display: inline-block;
   position: relative;
   padding: 3px;
   transition: 0.5s;
   transform: rotate(225deg);
}

.plusMoins{
   display: flex;
   justify-content: space-between;
   width: 75%;
}

.cacher:hover .flecheHaut{
   transform: rotate(45deg);
   top: -2px;
}

.videoList:hover .voirPlus i{
   opacity: 1;
   left: -70px;
}

.categorieLink:hover .voirPlus i{
   opacity: 1;
   left: 5px;

}
.categorieLink:hover .voirPlus p{
   transition-delay: 0.1s;
   opacity: 1;
   left: 0px;

}
.categorieLink h3{
   position: relative;
   transition: 0.2s;
}

.card:hover .description{
   opacity: 1;
   transition-delay:  0.7s;
}
/* ########## */
/* RESPONSIVE */
/* ########## */

/* Elimine des cards afin de laisser la place, + de lisibilité */
@media screen and (max-width: 1500px) {
   .card:nth-of-type(1n + 5){  /*On cache les card en commencant à 5n, n++*/
      display: none;
   }
}

@media screen and (max-width: 1100px) {
   .card:nth-of-type(1n + 4){  /*On cache les card en commencant à 4n, n++*/
      display: none;
   }
}


@media screen and (max-width: 750px) {
   .card:nth-of-type(1n + 3){ 
      display: none;
   }
}
/* ################ */
/* PHONE RESPONSIVE */
/* ################ */
@media screen and (max-width: 500px) {
   .cards{
      display: inline-block;
   }
                                 /* On centre les card, l'une au dessus de l'autre, 2 par catégories */
   .card{
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0px;
   }

   .card:nth-of-type(1n + 3){ 
      display: none;
   }

   .logoMenu{                    /*On enlève le logo du top menu, + lisibilité */
      margin-left: -100px;
      transition: 0.5s;
   }

   /* ################### */
   /* ANIMATIONS VOIRPLUS */
   /* ################### */
   .voirPlus p{                
      display: none;
   }
   .voirPlus i{                
      top: 2px;
      left: -40px;
   }
   .videoList:hover .voirPlus i{
      left: 5px
   }
   .categorieLink:hover .voirPlus i{
      transform: rotate(315deg);
       
   } 

   .content{
      margin-top: 30px;
   }
}
